#container(ng-controller='LocatorBoardController')
	.row
		.large-12.columns
			.text-center
				%h1 {{ angular_message }}
				%form
					%input(type='text' name='search' placeholder="Enter employee name...")

	#infovis