// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  //width: 1000px;
  //height: 600px;
  margin:0 auto;
  position:relative;
}

#infovis {
  position:relative;
  width:1024px;
  height:768px;
  margin:auto;
  overflow:hidden;
  background-color:#1a1a1a;
  color:#ccc;
}
