!!! 5
%html{ :lang => 'en', 'xmlns:ng' => 'http://angularjs.org', 'ng-app' => 'LocatorBoard'}
%head
%title LocatorBoard
= stylesheet_link_tag 'application', media: 'all'
= javascript_include_tag 'application'
= csrf_meta_tags
%body
= yield